html, body {
    color: lightgray;
    background-color: #333;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

header {
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 500px), 1fr));
    gap: 10px;
    padding: 10px;
    align-items: start;
}

.cam > video,
.cam > iframe,
.cam > img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: 50% 0%;
    display: block;
}
